In [ ]:
import pandas as pd

In [ ]:
# Insert the data

import pandas as pd
df = pd.read_csv("students_performance.csv")
df

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,179995,16,Male,Engineering,3.700000,2.1,1.0,Yes,80.8,6.1,...,8.3,Library,No,Low,1,4,10,Auditory,5.3,88
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89
79998,179998,23,Other,Biology,3.800000,0.6,3.5,Yes,58.7,5.8,...,9.3,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96
79999,179999,25,Other,Engineering,3.000000,4.5,3.4,Yes,97.7,5.3,...,12.2,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100

In [ ]:
# Split the X and the y dataset
from sklearn.model_selection import train_test_split

X = df["exam_score"]
y = df.iloc[:, [1, 4, 5, 6, 8, 9, 11, 14, 16, 18]]

# Train and Test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [ ]:
# Model instantiated from the imported Model class
from sklearn import linear_model

lr_model = linear_model.LinearRegression()
lr_model = lr_model.fit(X_train, y_train)

In [ ]:
# Predict the model

y_pred = lr_model.predict(X_test)

In [ ]:
# Compare ethe y_pred and the actual y_train
from sklearn.metrics import mean_absolute_error, r2_score
import numpy as np

model_rmse = np.sqrt(mean_absolute_error(y_test, y_pred))
model_r2 = r2_score(y_test, y_pred)

print(model_rmse)
print(model_r2)

1.687426403933383
0.09624457945976858